#info {
  font-family: sans-serif;
  font-size: 2rem;
  color: #494949;
  width: 90%;
  max-width: 50rem;
  margin: 3rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 2rem;
}
