@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  margin: 25px 35px 0 35px;
}

h1 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  letter-spacing: 1.65px;
  color: #1515e0;
  text-shadow: 2px 2px skyblue;
}

h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  margin-left: 35px;
  font-weight: 800;
  color: #1515e0;
}

ul {
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
  margin-left: 35px;
  font-size: 22px;
  color: #1515e0;
  list-style: square;
}

ul li:before {
  (content: '\27A3')
}

p {
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
  margin-left: 35px;
  font-size: 22px;
  font-weight: 400;
  color: #1515e0;
}

kbd {
  font-family: 'Lucida Sans', monospace;
  font-size: 24px;
  font-weight: bold;
  color: slategray;
}

code {
  font-family: 'Lucida Sans', monospace;
  font-size: 24px;
  font-weight: bold;
  color: purple;
}

.masthead {
  /*height: 85px;*/
  width: 85%;
  padding: 15px 35px;
  background-color: rgba(128, 128, 128, 0.25);
  border-style: outset;
  border-radius: 5px;
  margin-bottom: 35px;
}